Software/flows.json
[{"id":"aa81a245.e95d9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24006e78.875ca2","type":"inject","z":"aa81a245.e95d9","name":"Heading","topic":"","payload":"","payloadType":"date","repeat":".2","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":200,"wires":[["3098808f.3d0c9"]]},{"id":"62ae27a5.b37698","type":"inject","z":"aa81a245.e95d9","name":"Shots Remaining","topic":"","payload":"","payloadType":"date","repeat":".2","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":280,"wires":[["7adf473b.ca7108"]]},{"id":"3098808f.3d0c9","type":"file in","z":"aa81a245.e95d9","name":"Heading","filename":"/tmp/heading.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":200,"wires":[["386eb44f.21b83c"]]},{"id":"7adf473b.ca7108","type":"file in","z":"aa81a245.e95d9","name":"Shots Remaining","filename":"/tmp/shots.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":280,"wires":[["453e73db.f670ec"]]},{"id":"386eb44f.21b83c","type":"ui_gauge","z":"aa81a245.e95d9","name":"Heading","group":"e384961e.6cfbb8","order":0,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":200,"wires":[]},{"id":"453e73db.f670ec","type":"ui_gauge","z":"aa81a245.e95d9","name":"Shots Remaining","group":"a0e73af6.b2fb98","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"921d1992.9c4ad8","type":"inject","z":"aa81a245.e95d9","name":"Target Color","topic":"","payload":"","payloadType":"date","repeat":".2","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":360,"wires":[["27fa6d74.50c802"]]},{"id":"aa14cab4.101aa8","type":"inject","z":"aa81a245.e95d9","name":"Target In Frame","topic":"","payload":"","payloadType":"date","repeat":".2","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":440,"wires":[["f54f319a.7230b"]]},{"id":"b757eaf9.7899d8","type":"inject","z":"aa81a245.e95d9","name":"Theta","topic":"","payload":"","payloadType":"date","repeat":".2","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":520,"wires":[["55f2e025.0c468"]]},{"id":"a5d98d71.8f6dd","type":"inject","z":"aa81a245.e95d9","name":"Radius","topic":"","payload":"","payloadType":"date","repeat":".2","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":600,"wires":[["76a4f524.3e6bdc"]]},{"id":"27fa6d74.50c802","type":"file in","z":"aa81a245.e95d9","name":"Color Target","filename":"/tmp/ColorTarget.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":360,"wires":[["693c6295.6b8fdc"]]},{"id":"f54f319a.7230b","type":"file in","z":"aa81a245.e95d9","name":"Target Theta","filename":"/tmp/TargetTheta.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":440,"wires":[["e1d2223.fd575e"]]},{"id":"55f2e025.0c468","type":"file in","z":"aa81a245.e95d9","name":"In Frame","filename":"/tmp/InFrame.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":520,"wires":[["78ad823f.a134ac"]]},{"id":"76a4f524.3e6bdc","type":"file in","z":"aa81a245.e95d9","name":"Radius","filename":"/tmp/radius.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":600,"wires":[["1a38f6d9.f6a209"]]},{"id":"693c6295.6b8fdc","type":"ui_text","z":"aa81a245.e95d9","group":"d2e2ad61.1ceee","order":1,"width":0,"height":0,"name":"Target Color","label":"","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":360,"wires":[]},{"id":"e1d2223.fd575e","type":"ui_text","z":"aa81a245.e95d9","group":"223aa164.d96b1e","order":0,"width":0,"height":0,"name":"Target Theta","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":440,"wires":[]},{"id":"78ad823f.a134ac","type":"ui_text","z":"aa81a245.e95d9","group":"67ced40a.3bd91c","order":0,"width":0,"height":0,"name":"In Frame?","label":"","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":520,"wires":[]},{"id":"1a38f6d9.f6a209","type":"ui_text","z":"aa81a245.e95d9","group":"7f78ee75.99fb","order":0,"width":0,"height":0,"name":"Radius","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":600,"wires":[]},{"id":"e384961e.6cfbb8","type":"ui_group","z":"","name":"Heading","tab":"aec20ac2.72c258","order":1,"disp":true,"width":"6","collapse":false},{"id":"a0e73af6.b2fb98","type":"ui_group","z":"","name":"Shots Remaining","tab":"aec20ac2.72c258","order":2,"disp":true,"width":"6","collapse":false},{"id":"d2e2ad61.1ceee","type":"ui_group","z":"","name":"Target Color","tab":"aec20ac2.72c258","order":3,"disp":true,"width":"6","collapse":false},{"id":"223aa164.d96b1e","type":"ui_group","z":"","name":"Target Theta","tab":"aec20ac2.72c258","order":4,"disp":true,"width":"6","collapse":false},{"id":"67ced40a.3bd91c","type":"ui_group","z":"","name":"Is Target In Frame?","tab":"aec20ac2.72c258","order":5,"disp":true,"width":"6","collapse":false},{"id":"7f78ee75.99fb","type":"ui_group","z":"","name":"Radius","tab":"aec20ac2.72c258","order":6,"disp":true,"width":"6","collapse":false},{"id":"aec20ac2.72c258","type":"ui_tab","z":"","name":"Tab 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]